DBNAME=<database-name>
DBHOST=<database-hostname>
DBUSER=<db-user-name>
DBPASS=<db-password>
CACHELOCATION=<redis-cache-url>
SECRET_KEY=<bfd8c92f05a8e13579c432f89540bd08e00b92f65952ea5e1513a3791cef6654>