{% extends 'base.html' %}
{% load static %}

{% block title %}About Us - Travel in Style{% endblock %}

{% block content %}
    <!--  ************************* Page Title Starts Here ************************** -->
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>About Our Company</h2>
                <ul>
                    <li> <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> About Us</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="about-us container-fluid">
        <div class="container">
            <div class="row natur-row no-margin w-100">
                <div class="text-part col-md-6">
                        <h2>We Are Luxury Cruise Experts</h2>
                        <p>At Travel in Style, we specialize in crafting unforgettable cruise experiences that redefine luxury travel. With decades of expertise and exclusive partnerships with premier cruise lines worldwide, we offer unparalleled access to the most sought-after voyages and destinations. Our team of seasoned travel professionals is dedicated to curating bespoke cruise packages tailored to your unique preferences.</p>
                        <p>Whether you dream of exploring the sun-kissed Mediterranean, embarking on an Arctic adventure, or indulging in the tropical paradises of the Caribbean, we have the perfect cruise for you. We pride ourselves on our attention to detail and personalized service. From the moment you step aboard to the day you return home, every aspect of your journey is meticulously planned to ensure a seamless and extraordinary experience.</p>
                        <p>Our strong relationships with top cruise lines allow us to secure exclusive amenities, upgrades, and onboard credits for our discerning clientele. As your trusted cruise advisors, we stay ahead of industry trends and continuously explore new ships and itineraries. This allows us to offer expert guidance on the latest luxury vessels, innovative onboard experiences, and hidden gem destinations that will make your voyage truly exceptional. </p>
                </div>
                <div class="image-part col-md-6">
                    <img src="{% static 'assets/images/about.jpg' %}" alt="About Us">
                </div>
            </div>
        </div>
    </div>
   
    <!--  ************************* Our Team Start Here ************************** -->
    <div class="our-team">
        <div class="container">
            <div class="row session-title">
                <h2>Who we are</h2>
                <p>Learn more about our Cruise and our passion for cruises.</p>
            </div>  
        
            <div class="row">
                {% for team_member in team_members %}
                <div class="col-md-3 col-sm-6">
                    <div class="card-1 team-member">
                        <img src="{% static team_member.image %}" alt="{{ team_member.name }}">
                        <p><b>{{ team_member.name }}</b> ({{ team_member.position }})</p>
                        <ul class="row">
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-linkedin-in"></i></li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}